<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Корзина товаров</title>
    <link rel="stylesheet" th:href="@{|/css/bootstrap.min.css|}" crossorigin="anonymous">
</head>

<body style="width: 80%; margin: 0 auto">
<div style="display: flex; justify-content: right; height: 50px">
    <a href="/main/items">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
        </svg>
        <span>ГЛАВНАЯ</span>
    </a>
    <a href="/orders" style="margin: 0 20px">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"/>
        </svg>
        <span>ЗАКАЗЫ</span>
    </a>
</div>
<h1 style="text-align: center; margin: 20px;">Корзина</h1>
<table>
    <tr th:each="cartItem : ${cart.cartItems}">
        <td>
            <table>
                <tr>
                    <td colspan="2">
                        <img width="300" height="300" th:src="${'/images/'+cartItem.getImgPath()}">
                    </td>
                    <td>
                        <div>
                            <p><b th:text="${cartItem.getTitle()}"></b></p>
                            <p><b th:text="${cartItem.getPrice()}+' руб.'"></b></p>
                            <p><span th:text="${cartItem.getDescription()}"></span></p>
                            <form th:action="${'/cart/items/'+cartItem.getId()}" method="post" style="margin-top: 15px;">
                                <button name="action" value="MINUS" class="btn btn-primary">-</button>
                                <span th:text="${cartItem.getCount()}" style="margin: 5px"></span>
                                <button name="action" value="PLUS" class="btn btn-primary">+</button>
                                <button name="action" value="DELETE" class="btn btn-danger">&cross;</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <b th:text="'Итого: '+${cart.getTotal()}+' руб.'"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <form action="/buy" method="post" th:if="${!cart.isEmpty()}">
                <button class="btn btn-primary" th:disabled="${!cart.isPaymentEnable}">Купить</button>
            </form>
        </td>
    </tr>
</table>
<script th:src="@{|/js/bootstrap.min.js|}" crossorigin="anonymous"></script>
</body>

</html>