<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Витрина товаров</title>
    <link rel="stylesheet" th:href="@{|/css/bootstrap.min.css|}" crossorigin="anonymous">
</head>

<body style="width: 80%; margin: 0 auto">
    <div style="display: flex; justify-content: right; height: 50px">
        <a href="/main/items">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
            </svg>
            <span>ГЛАВНАЯ</span>
        </a>
        <a href="/orders" style="margin: 0 20px">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"/>
            </svg>
            <span>ЗАКАЗЫ</span>
        </a>
        <a href="/cart" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket3-fill" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.468 15.426.943 9h14.114l-1.525 6.426a.75.75 0 0 1-.729.574H3.197a.75.75 0 0 1-.73-.574z"/>
            </svg>
            <span>КОРЗИНА</span>
        </a>
    </div>
    <h1 style="text-align: center; margin: 20px;">Красное&Белое</h1>
    <div style="text-align: center">
        <p>
            <img width="300" height="300" th:src="${'/images/'+item.getImgPath()}">
        </p>
        <p>
            <b th:text="${item.getTitle()}"></b>
        </p>
        <p>
            <b th:text="${item.getPrice()}+' руб.'" style="text-align:right;"></b>
        </p>
        <p>
            <span th:text="${item.getDescription()}"></span>
        </p>
        <form th:action="${'/items/'+item.getId()}" method="post">
            <div style="display: inline-block;" th:if="${item.getCount()!=0}">
                <button name="action" value="MINUS"  class="btn btn-primary">-</button>
                <span th:text="${item.getCount()}" style="margin: 5px"></span>
                <button name="action" value="PLUS"  class="btn btn-primary">+</button>
            </div>
            <button name="action" value="PLUS" th:if="${item.getCount()==0}" class="btn btn-primary">В корзину</button>
        </form>
    </div>
    <script th:src="@{|/js/bootstrap.min.js|}" crossorigin="anonymous"></script>
</body>

</html>